<!DOCTYPE html><html><head><title>Twix.js</title><link href="../stylesheets/twix.css" rel="stylesheet" type="text/css" /><script src="../javascripts/twix-site.js" type="text/javascript"></script></head><body><div id="navbar"><div class="container"><div class="pull-left" id="title"><a href="index.html">Twix.js</a></div><ul class="nav nav-pills pull-right"><li><a href="index.html">Home</a></li><li><a href="docs.html">Docs</a></li><li><a href="tests.html">Tests ↗</a></li><li><a href="https://github.com/icambron/twix.js">Github ↗</a></li></ul></div></div><p>Twix is a simple but opinionated JS library for working with date ranges, and includes a customizable smart formatter. It's written in CoffeeScript and it depends on <a href="http://momentjs.com/">Moment.js</a>.</p>

<p>```js
var t = moment("1982-01-25T09:30").twix("1982-01-25T13:30");</p>

<p>t.format();  //=&gt; Jan 25, 1982, 9:30 AM - 1:30 PM</p>

<p>t.simpleFormat("MMM Do [at] HH:MM") //=&gt; 'Jan 25th at 09:00 - Jan 25th at 13:00'</p>

<p>t.isSame("day");               //=&gt; true
t.humanizeLength();            //=&gt; "4 hours"
t.count("days");               //=&gt; 1
t.isPast()                     //=&gt; true
t.contains("1982-01-25T10:00") //=&gt; true</p>

<p>var t2 = moment("1982-01-23T13:30").twix("1982-01-25T12:30");
t.overlaps(t2) //=&gt; true
t.engulfs(t2)  //=&gt; false
t.equals(t2)   //=&gt; false</p>

<p>t.intersection(t2).format() //=&gt; 'Jan 25, 1982, 9:30 AM - 12:30 PM'
t.union(t2).format()        //=&gt; 'Jan 23, 1:30 PM - Jan 25, 1:30 PM, 1982'</p>

<p>t.split(2, 'hour')
  .map(function(st){return st.format({showDate: false});}) //=&gt; [ '9:30 - 11:30 AM', '11:30 AM - 1:30 PM' ]
```</p>

<p>And a lot more. See the <a href="docs.html">docs</a>.</p>
</body></html>